---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Header />
	<main id="main" class="container">
		<div class="content">
			<h1>About me</h1>
			<p>I started in customer facing roles (consulting, customer success), moved on to product management. And I'm finding myself going back to what I was trained to be: an engineer</p>
			<p>I love talking to customers and users, and analyzing what they are really after. As much as I enjoy matching those needs to the proper concepts and metaphors to architecture the product.</p>
			<p>I tend to enjoy diving into problems that have some kind of technical complexity, and get my hands dirty with the engineers.</p>
			<p>The one thing I could not do so far: build things myself. And I'm leveraging AI to bridge that gap.</p>
			<h1>Work with me</h1>
			<p>I'm currently working as a freelance product manager.</p>
			<p>I can consult through consulting networks (GLG, Alphasights,...) if you need expertise on the graph tech ecosystem.</p>
			<p>If you think you have a permanent position for which I could be a unique fit, please reach out.</p>
		</div>
	</main>
</Layout>

